<div layout="row">
  <md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
      <md-button ng-click="goToState( 'upload' )" aria-label="Upload Cars Button">
        <md-icon md-svg-icon="./assets/icons/ic_photo_camera_white_24px.svg"></md-icon>
        Upload a Car
      </md-button>
      <md-button ng-click="goToState( 'swipe' )" aria-label="Swipe Cars Button">
        <md-icon md-svg-icon="./assets/icons/ic_directions_car_white_24px.svg"></md-icon>
        Swipe
      </md-button>
      <md-button aria-label="Liked Cars Button">
        <md-icon md-svg-icon="./assets/icons/ic_thumb_up_white_24px.svg"></md-icon>
        Liked Cars
      </md-button>
    </div>
  </md-toolbar>
</div>
